.notes {
    padding: 40px 10px 40px 0;
    margin: 0 0 0 4%;
    width: 90%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2%;
}

.note {
    margin-top: 2%;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(207, 151, 10);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h1 {
        height: 30%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: -2px;
        text-align: center;
        border-radius: 8px 8px 0 0;
        background-color: rgb(207, 151, 10);
    }

    div {
        order: 999;
        margin-top: auto;
        display: flex;
        flex-wrap: nowrap;
        button {
            font-size: 18px;
            width: 33.3%;
            border-radius: 6px;
            &:hover {
                background-color: rgba(207, 151, 10, 1);
            }
        }
    }
    p:nth-child(2n+1) {
        margin-top: auto;
    }
}